* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: red;
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 40px;
    font-size: 22px;
}

a:hover {
    background-color: rgb(136, 27, 27);
}